# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
.env

# Testing / Cache
.pytest_cache/
.coverage
htmlcov/

# OS metadata
.DS_Store
Thumbs.db
